@using MvcOnlineTicariOtomasyon.Models.Classes
@using PagedList
@using PagedList.Mvc
@model PagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class=" table table-bordered">
    <tr>
        <th>Kategori Adı</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CategoryName
            </td>
            <td>
                <a href="/Category/GetCategory/@item.CategoryId" class="btn btn-success">Güncelle</a>
            </td>
            <td>
                <a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new { page }), new PagedListRenderOptions
{
    LiElementClasses=new List<string>
    { "page-link"}
}
)
<a href="/Category/AddCategory" class="btn btn-primary">Yeni Kategori</a>

