@using MvcOnlineTicariOtomasyon.Models.Classes
@model List<SaleSituation>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}

<h2>Siparişlerim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Product.ProductName</td>
            <td>@item.Price</td>
            <td>@Convert.ToDateTime(item.Date).ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>

