
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

@{
    var grafik = new Chart(width: 500, height: 500);
    grafik.AddTitle(text: "Kategoriler ve Ürün Sayıları");
    grafik.AddLegend(title: "Değerler");
    grafik.AddSeries(name: "Veriler",
        chartType: "Area",
    xValue: new[] { "Beyaz Eşya", "Bilgisayar", "Televizyon", "Küçük Ev Aletleri", "Telefon", "Mouse" }, yValues: new[] { 500, 200, 300, 350, 400, 620 });
    grafik.Write();
}